/* 여백초기화 */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

html {
    font-size: 17px;
}

body {
    /* background: url(../images/background.png) repeat center; */
    font-family: "Pretendard";
    font-size: 17px;
    line-height: 1.5em;
    color: #fff;
    background-color: #0A0808;

}

#wrap {
    min-width: 1400px;
    overflow: hidden;
}


/* 공통태그모음 */

/* 초기 상태: 요소가 위로 이동된 상태로, 투명하게 설정 */
.section {
    opacity: 0;
    transform: translateY(-50px); /* 위로 50px 이동 */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* 화면에 나타날 때 활성화 상태 */
.section.show {
    opacity: 1;
    transform: translateY(0); /* 원래 위치로 이동 */
}


.title {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;

    font-size: 50px;
    line-height: 60px;
    font-weight: 900;
}

.title span {
    text-shadow: none;
    font-size: 24px;
    opacity: 0.8;
    font-family: "pretendard";
    font-weight: normal;

}



.slogan_line_right_wrap,
.slogan_line_left_wrap {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;


}

.slogan_line_left_wrap::after,
.slogan_line_right_wrap::after{
    content: "";
    position: absolute;
    top: 70px;
    left: 46%;
    width: 80px;
    height: 3px;
    background-color: #fff;
    margin-left: 10px;
}

/* 
.slogan_line_left,
.slogan_line_right {
    padding-bottom: 50px;
}

.slogan_line_left {
    text-align: left;
}

.slogan_line_right {
    text-align: right;
}

.slogan_line_right::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 100%;
    width: 400px;
    height: 1px;
    background-color: #fff;
    margin-left: 10px;
}

.slogan_line_left::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -420px;
    width: 400px;
    height: 1px;
    background-color: #fff;
    margin-left: 10px;
} */


.scroll-to-top {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    position: absolute;
    right: -264px;
    bottom: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.5s ease-in;
    /* 부드러운 회전 효과 */
    transform-origin: center;
    /* 회전 중심을 요소의 중앙으로 설정 */
}

.scroll-to-top:hover {
    transform: translateY(-10px);
}


/* 공통태그 끝 */


/* relative 용 */
/* 기준으로 배너,헤더, 파도 이미지 배치 */

#top {
    position: relative;
    height: 1263px;
}

#banner {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 1080px;
    z-index: 1;
    overflow: hidden;

}

#banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


/* .wave_container {
    position: absolute;
    top: 971px;
    left: 0;
    width: 100%;
    z-index: 8;
    height: 183px;
    background: url(../images/top_bg.png) repeat center;
} */

.wave_container img {
    display: block;
    width: 100%;

}

#section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7,
#section8 {
    margin-bottom: 100px;
}

/* section1 */
#section1 {
    width: 100%;
    height: 800px;
}

.inner_section1 {
    width: 1320px;
    margin: 0 auto;
}

.img_wrap {
    width: 100%;
    position: relative;

}

.img_wrap img {
    display: block;
}

/* 
.box_booking {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    width: 600px;
    height: 281px;
    background: url(../images/main/1bookingbox.png) no-repeat center;
    position: absolute;
    top: -350px;
    left: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
} */
/* 
.mo{
    width: 1320px;
    height: 200px;
 position: relative;
}
.mo img{
    top: -30px;
    left: 50%;
    z-index: 9;
    margin-left: -660px;
    position: absolute;
    width: 100%;
    height: 100%;
} */


.box_booking_wrap{
    position: relative;
 }

.box_booking_bg{
    position: absolute;
    width: 1047px;
    top: -363px;
     left: 50%;
     margin-left: -523.5px;
     z-index: 9;
}
.box_booking_bg img{
    width: 100%;
    height: 100%;
}

.box_booking{
    width: 950px;
    justify-content: space-between;
    position: absolute;
   top: -335px;
    left: 50%;
    margin-left: -523.5px;
    z-index: 10;
    display: flex;
    padding-left: 50px;    
    align-items: center;
    font-family: "Open Sans", sans-serif;
}
.box_booking_content{
    padding: 10px 50px 0 0;

}
.bookingbox_title{
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.bookingbox_info{
    font-size: 17px;
}

.bookingbox_info span{
    font-weight: bold;
}
.bookingbox_info span::after{
    content: "";
    position: absolute;
    top: -10px;
    height: 1px;
    width: 1px;
    
}

.button_booking{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.button_booking li a {
    text-transform: capitalize;
    font-weight: 500;
    display: block;
    border: #fff solid 1px;
    padding: 10px 100px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 10px;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
}

.button_booking li a:hover {
    color: #0A0808;
    background-color: #fff;
}


.box_dragon {

    position: absolute;
    top: -96px;
    left: 900px;
    z-index: 8;
    transition: transform 0.8s ease;

}



.box_dragon:hover {
    transform: translateX(-300px) rotate(10deg);

}


.box_slogan {
    position: absolute;
    top: 100px;
    left: 50%;
    z-index: 9;
    margin-left: -265.83px;
    font-size: 150px;
    font-weight: 900;
    line-height: 1em;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    text-shadow: 2px 2px 50px rgba(163, 161, 163, 0.7);

}

.box_slogan_logo {
    position:absolute;
    top: 0;
    left: 50%;
    z-index: 0;
    margin-left: -150px;
    width: 300px;
    height: auto;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;

}
.box_slogan_logo img{
    width: 100%;
    display: block;
}

.box_slogan_text {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.box_slogan:hover .box_slogan_logo {
    opacity: 1;
    transform: translateY(-60px);

}

.box_slogan:hover .box_slogan_text {
    opacity: 0;
    transform: translateY(-20px);

}




.box_text {
    z-index: 10;
    position: absolute;
    width: 488px;
    top: 486px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 150px;
    padding: 50px;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    background-color: transparent;
    box-sizing: border-box;
    white-space: nowrap;
}

.box_text span:hover {
    color: #a462ba;
    transform: scale(1.2);
}

@keyframes blink {
    0% {
        opacity: 0.5;

    }

    50% {
        opacity: 1;
        /* 중간에서 완전히 보이도록 설정 */
    }

    100% {
        opacity: 0.5;
        /* 다시 덜 깜빡이도록 설정 */
    }
}

.box_text span {
    display: inline-block;
    opacity: 1;
    animation: blink 3s infinite;
    animation-delay: calc(var(--i) * 0.3s);
}


/* 상단과 하단의 선 추가 */
.box_text::before,
.box_text::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}

/* 상단 선 (1px + 2px) */
.box_text::before {
    top: -10px;
    height: 1px;
    background-color: #fff;
    box-shadow: 0 4px 0 0 #fff; /* 2px 선을 1px 선 아래에 추가 */
}

/* 하단 선 (1px + 2px) */
.box_text::after {
    bottom: -10px;
    height: 1px;
    background-color: #fff;
    box-shadow: 0 -4px 0 0 #fff; /* 2px 선을 1px 선 위에 추가 */
}



/* section1 end */

/* section2 start */
#section2 {
    width: 1320px;
    height: auto;
    margin: 300px auto;

}

.info {
    width: 1320px;
    height: auto;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-around;
}

.info li {
    text-align: center;
}

.info_bg {
    width: 365px;
    height: 365px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.info_bg img {
    display: block;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.community_bg {
    background-image: url('../images/main/info1.png');
}

.exhibition_bg {
    background-image: url('../images/main/info2.png');
}

.shop_bg {
    background-image: url('../images/main/info3.png');
}

.shop_bg img,
.exhibition_bg img {
    width: 280px;
    padding-left: 40px;
}


.community_bg img:hover,
.exhibition_bg img:hover,
.shop_bg img:hover {
    object-fit: contain;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    filter: invert(50%);
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);

    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

.info_slogan {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 30px rgba(163, 161, 163, 0.7);
    opacity: 1;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    position: relative;
    z-index: 1;
    animation: none;
}

.info_slogan.visible {
    line-height: 40px;
    animation: slideDown 0.8s forwards;
}

/* 기본 li 요소 스타일 */
.info li {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.8s ease-out;
}

/* li 요소가 순차적으로 나타나도록 하기 위한 클래스 */
.info li.show {
    opacity: 1;
    transform: translateY(0);
}

/* 순서대로 애니메이션 딜레이 적용 */
.info li:nth-child(1) {
    transition-delay: 0.1s;
}

.info li:nth-child(2) {
    transition-delay: 0.3s;
}

.info li:nth-child(3) {
    transition-delay: 0.5s;
}





/* section3 */
#section3 {
    width: 1320px;
    margin: 0 auto;
    height: 100%;
}


/* 부모이름 적어주기 */
/* swiper */
.swiper1_wrap {
    width: 1320px;
    height: 100%;
}

.swiper1_wrap .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper1_wrap .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper1_wrap .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* swiper end */

.swiper1_wrap {
    position: relative;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 300px;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}



.slide_container {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.slide_content {
    padding-right: 50px;
    width: 500px;
    padding-bottom: 20px;
}

.slide_title,
.slide_date {
    text-align: left;
}

.slide_description {
    width: 760px;
    text-align: left;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 30px;

}

.slide_color1 {
    color: #BCFF00;
}

.slide_color2 {
    color: #AD1823;
}

.slide_color3 {
    color: yellow;
}


/* section4 */
#section4 {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}




/* slick */
.slider_wrap {
    position: relative;
    z-index: 9;
    height: 591px;
}

.slider {
    width: 1920px;
    height: 751px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}

.slick-slide {

    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

/* stlye end */


.banner2_wrap {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    object-fit: contain;
}

.banner2_wrap img {
    display: block;
    width: 100%;
}

.banner2_content {
    color: #0A0808;
    position: absolute;
    z-index: 9;
    top: 100px;
    left: 0;
    text-align: left;
    width: 500px;
    box-sizing: border-box;
    padding: 100px 50px 0 100px;
}

.paf_button {
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 20px;
    font-weight: 700;
}

.paf_title {
    line-height: 40px;
    padding: 50px 0;
    font-size: 30px;
    font-weight: bold;
}

.paf_content {
    letter-spacing: 0.05em;
}

.paf_hash {
    padding-top: 50px;
    font-weight: bold;
}

/* section5 */

#section5,
#section6 {
    padding-top: 100px;
    width: 100%;
    height: 960px;
    background: url(../images/main/bg_mukinight.png) repeat-y center;
    object-fit: cover;
}

.inner_section5 {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}


.section5_title {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

.night_content {
    padding-bottom: 20px;
}

p.vertical_line {
    position: relative;
    padding: 20px 0;
    text-align: center;
}

p.vertical_line::before,
p.vertical_line::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100px;
    background-color: #fff;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

p.vertical_line::before {
    top: -480px;
    height: 150px;
}

p.vertical_line::after {
    bottom: 480px;
    height: 150px;
}






.night_slogan_right {
    position: absolute;
    top: 150px;
    right: 0;
    z-index: 9;
    font-size: 100px;
    line-height: 100px;
    font-weight: 800;

}

.round_silver_button {

    margin-top: 50px;
    position: relative;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.round_silver_button:hover {
    transform: translateY(-10px);
}

.round_silver_button img {
    display: block;
    width: 100%;
    /* 이미지가 부모 요소의 너비를 가득 채우도록 설정 */
}

.round_silver_button a {
    position: absolute;
    font-family: "Open Sans", sans-serif;
    top: 24px;
    left: 30px;
    z-index: 9;
    display: block;
    font-size: 17px;
    font-weight: 900;
    text-shadow: 1px 1px 10px wheat;
    line-height: 17px;
    text-align: center;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.round_silver_button a:hover {
    color: #4c00ff;
    text-shadow: 1px 1px 10px;
}

.night_slogan_left {
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: 9;

}

.night_slogan_left p {
    font-family: "Open Sans", sans-serif;
    font-size: 80px;
    line-height: 80px;
    font-weight: 900;
    text-transform: uppercase;
    color: #0A0808;
    text-shadow: 0 0 2px white;
    opacity: 10;
}

.night_slogan_left span {
    color: #fff;
    font-size: 50px;
    font-family: "Pretendard";
    text-shadow: none;
}

/* 공통 애니메이션 설정 */
@keyframes fadeInOut {

    0%,
    100% {
        opacity: 1;
        /* 진한 상태 */
    }

    50% {
        opacity: 0.3;
        /* 연한 상태 */
    }
}

/* 애니메이션을 적용할 모든 p 태그에 기본 설정 적용 */
.section5_title p,
.night_slogan_left p,
.night_slogan_right p {
    opacity: 1;
    animation: fadeInOut 5s ease-in-out infinite;
    /* 2초 동안 연해졌다 진해졌다 반복 */
}

/* 각 줄마다 애니메이션 딜레이를 다르게 설정 */
.section5_title p:nth-child(1),
.night_slogan_left p:nth-child(1),
.night_slogan_right p:nth-child(1) {
    animation-delay: 0s;
    /* 첫 번째 줄은 딜레이 없이 바로 시작 */
}

.section5_title p:nth-child(2),
.night_slogan_left p:nth-child(2),
.night_slogan_right p:nth-child(2) {
    animation-delay: 0.5s;
    /* 두 번째 줄은 0.5초 딜레이 후 시작 */
}

.section5_title p:nth-child(3),
.night_slogan_left p:nth-child(3),
.night_slogan_right p:nth-child(3) {
    animation-delay: 1s;
    /* 세 번째 줄은 1초 딜레이 후 시작 */
}

/* 추가 줄을 위해 필요한 만큼 nth-child로 확장 가능 */
.section5_title p:nth-child(4),
.night_slogan_left p:nth-child(4),
.night_slogan_right p:nth-child(4) {
    animation-delay: 1.5s;
    /* 네 번째 줄은 1.5초 딜레이 후 시작 */
}

.section5_title p:nth-child(5),
.night_slogan_left p:nth-child(5),
.night_slogan_right p:nth-child(5) {
    animation-delay: 2s;
    /* 다섯 번째 줄은 2초 딜레이 후 시작 */
}

#emuki_night_fix {
    width: 100%;
    height: 500px;
    background-image: url('../images/main/emukinight.png');
    /* 이미지 경로 확인 */

    background-position: center;
    /* 배경 이미지의 중심을 요소의 중심에 맞춤 */
    background-repeat: no-repeat;
    /* 배경 이미지 반복을 방지 */
    background-attachment: fixed;
    /* 배경을 화면에 고정 */
    position: relative;
    z-index: 9;
    /* 다른 요소 위에 표시 */
}

.inner_section6 {
    width: 1320px;
    margin: 0 auto;
}

.egg_wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 1320px;
    justify-content: space-between;
}

.egg_wrap li {
    padding-top: 50px;
}

.egg_content {

    position: relative;
}


.egg_content_title {
    color: #0A0808;
    position: absolute;
    top: 230px;
    left: 50px;
    z-index: 9;
}

.egg_content_title h3 {
    font-size: 14px;
}

.egg_content_title h3 span {
    font-size: 12px;
    padding-right: 20px;
}

.egg_content_title h3 span::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: #0A0808;
    top: 8px;
    left: 49px;
}

.egg_content_text {
    position: absolute;
    width: 100%;
    top: 30px;
    left: 20px;
    z-index: 9;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
}

.egg_content_text p {
    padding-bottom: 3px;
}

.egg_content_text p span {
    padding-right: 10px;
    font-weight: bold;
}


/* 호버 시 이미지 변경 */
.egg_hover:hover {
    width: 250px;
    height: 341px;
    object-fit: contain;
    content: url('../images/main/hover_egg.png');
    /* 새로운 이미지로 변경 */
}

.bottom_wave {
    position: relative;
    width: 100%;
    height: 218px;
    background-image: url('../images/main/wave.png');
    background-size: 200% 100%;
    background-position: 0 0, 100% 0;
    background-repeat: repeat-x;
    animation: scrollWave 20s linear infinite;
}

@keyframes scrollWave {
    0% {
        background-position: 0 0, 100% 0;
        /* 시작 위치 */
    }

    100% {
        background-position: -100% 0, 0 0;
        /* 끝 위치로 설정하여 매끄럽게 이어지도록 함 */
    }
}

#section7 {
    width: 1320px;
    margin: 100px auto;
}

.dessert_container {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 818px;
}


.dessertbg1 {
    position: relative;
    background-image: url(../images/main/dessert1.png);
}

.dessertbg2 {
    position: relative;
    background-image: url(../images/main/dessert2.png);
}



.cake1 {
    padding-left: 850px;
    padding-top: 200px;
}

.cake2 {
    padding: 50px;
    padding-top: 200px;
}

.dessert_content {
    color: #0A0808;
}


.dessert_content h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 50px;

}

.cake_text {
    padding: 20px 0;
}

.dessert_info {
    padding-top: 30px;
}

.dessert_info p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100px;
    text-align: left;
    font-size: 12px;
    line-height: 18px;

}

.dessert_info p span {
    padding-right: 10px;
    font-weight: 800;
}

.pickupinfo {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    display: none;
    /* 기본적으로 보이지 않도록 설정 */
    opacity: 0;
    /* 초기 상태에서 투명하게 설정 */
    transform: translateY(-20px);
    /* 약간 위에 위치하도록 설정 */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    /* 페이드 인과 슬라이드 인 효과를 위한 전환 설정 */
}


.pickupinfo.show {
    display: block;
    /* 표시되도록 설정 */
    opacity: 1;
    /* 투명도를 1로 설정하여 보이게 함 */
    transform: translateY(0);
    /* 원래 위치로 이동 */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}


.pickupbutton {
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-family: "pretendard";
    background-color: transparent;
    font-weight: bold;
    transition: color 0.3s ease;
}

.pickupbutton:hover {
    color: #4c00ff;
    text-shadow: 0 0 10px wheat;
}


.order_button_wrap_left {
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 50px;
}

.order_button_wrap_right {
    position: absolute;
    z-index: 9;
    bottom: 0;
    right: 400px;
}

.order_button {
    margin: 70px 0;
    background: url(../images/main/button_silver_sq.png) no-repeat 0 0;
    height: 32px;
    width: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;

}

.order_button p {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}


.order_button img {
    width: 100%;
    object-fit: contain;
}

.order_button p {
    margin: 0;
    font-size: 14px;
}

.order_button:hover {
    color: #4c00ff;
    text-shadow: 0 0 10px wheat;
}


.dessert_pickup {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.dessert_pickup.show {
    max-height: 200px;
    /* 픽업 정보의 전체 높이로 설정 */
}





/* 모달의 기본 스타일 - 기본적으로 숨김 */
.modal {
    display: none;
    /* 기본적으로 보이지 않도록 설정 */
    position: fixed;
    /* 화면에 고정 */
    z-index: 1000;
    /* 다른 요소 위에 표시되도록 설정 */
    left: 0;
    top: 0;
    width: 100%;
    /* 전체 화면 너비 */
    height: 100%;
    /* 전체 화면 높이 */
    overflow: auto;
    /* 스크롤 가능 */
    background-color: rgba(0, 0, 0, 0.4);
    /* 반투명 배경 */
}

/* 모달 콘텐츠 스타일 */
.modal-content {
    color: #0A0808;
    background-color: #fefefe;
    margin: 15% auto;
    /* 상단에서 중앙에 배치 */
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    /* 원하는 너비 설정 */
    text-align: center;
}

.modal-content img{
    width: 100%;
    object-fit: contain;
    display: block;

}

/* 닫기 버튼 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 확인, 취소 버튼 스타일 */
.confirm-button,
.cancel-button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.confirm-button {
    background-color: #4c66af;
    /* 확인 버튼 색상 */
    color: white;
}

.cancel-button {
    background-color: #9e36f4;
    /* 취소 버튼 색상 */
    color: white;
}

#section8 {
    width: 1320px;
    margin: 100px auto;
    position: relative;
}

.goods_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 550px;
}

.goods_item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.goods_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.goods_item:hover .hover_content {
    opacity: 1;
}

.hover_text {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.goods_item:hover .hover_text {
    transform: translateY(0);
    opacity: 1;
}

.hover_content_title {
    color: white;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
}

.hover_content_price {
    color: white;
    font-weight: bold;
    font-size: 36px;
}

.button_list {
    display: flex;
    margin-bottom: 10px;
}

.button_list li {
    margin-right: 10px;
}

.button_list li a {
    font-size: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button_list li:nth-child(1) a {
    background-color: #4c00ff;
}

.button_list li:nth-child(2) a {
    background-color: #0A0808;
}

.goods1,
.goods3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}

.goods1 {
    width: 527px;
}

.goods3 {
    width: 250px;
}

.goods1 li,
.goods3 li {
    height: calc(50% - 5px);
}

.goods2 {
    width: 511px;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.goods2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
